 | <a href="/scripts">Home</a>
<h2>Hi <%=@admin.first_name%></h2>

<!-- <h4>Students approved </h4>

<h4>Students awaiting approval</h4> -->

<h4>Students attending <%=@admin.dojo.name%></h4>
<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<% @students.each do |student| %>
		<tr>
			<td><%=student.first_name%></td>
			<td><%=student.last_name%></td>
			<td>
			<%if student.access == "t"%>
				<a href="/access/<%=student.id%>/deny">Remove Access</a>
			<%else%>
				<a href="/access/<%=student.id%>/allow">Allow Access</a>
			<%end%>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>