<h4>Edit <%= @current_user.first_name %>'s Profile</h4>

<form action="/users/<%= @current_user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">
  <div class="row">
    <div class="input-field col s4">
      <label class="active" for="first_name">First Name: </label>
      <input id="first_name" type="text" name="user[first_name]" value="<%= @current_user.first_name %>">
    </div>
    <div class="input-field col s4">
      <label class="active" for="last_name">Last Name: </label>
      <input id="last_name" type="text" name="user[last_name]" value="<%= @current_user.last_name %>">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <label class="active" for="email">E-mail: </label>
      <input id="email" type="text" name="user[email]" value="<%= @current_user.email %>">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <select name="user[dojo]">
      <% @dojos.each do |dojo| %>
        <option <%= "selected" if dojo.id == @current_user.dojo.id %> value="<%= dojo.id %>"><%= dojo.name %></option>
      <% end %>
      </select>
    </div>
  </div>

  <button class="btn waves-effect waves-light green darken-4" type="submit" name="action">Update User
    <i class="material-icons right">send</i>
  </button>
</form>
